extends Layouts/main-layout/main-layout.pug

block variables
  - let title = 'Подбор программы';
  - let withHeaderFooter = true;
  - let pageClassName = 'program-selection';

block styles
  link(href=require('./program-selection.scss') rel='stylesheet')
block content
  main.page__main(class=pageClassName)
    .container
      h1(class=pageClassName + '__title') Подбор программы
      .program-selection__block-container
        h6(class=pageClassName + '__subtitle') Заполните анкету, и мы подберем программу питания для вашего кота

      include Partials/program-selection/cat-data/cat-data.pug
    include Partials/program-selection/owner-data/owner-data.pug
    include Partials/program-selection/comment-data/comment-data.pug




block scripts
  script(src=require('./program-selection.js') defer)
