mixin input(labelText, name, placeholder, type, required='true', withIcon=false)
  .input
    label.input__label
      if (withIcon !== false)
        input.input__item.input__item_with-icon(name=name, placeholder=placeholder, type=type, required=required)&attributes(attributes)
        .input__icon
          if (withIcon === 'email')
            include Icons/email.pug
          else if (withIcon === 'phone')
            include Icons/phone.pug
      else
        input.input__item(name=name, placeholder=placeholder, type=type, required=required)&attributes(attributes)
      span.input__text #{labelText}
