mixin range(min='0', max='100', value='50', step='1', leftText='', rightText='')
  .range
    span.range__button.range__button_left #{leftText}
    input.range__slider(type='range' min=min max=max value=value step=step)
    .toggle
      .toggle__line
    span.range__button.range__button_right #{rightText}
